p{
  text-align: center;
  font-size: x-large;
}

h1{
  text-align: center;
}

button{
  margin-left: 47%;
  margin-right: 43%;
}

img{
  margin-left: 40%;
  margin-right: 40%;
  width: 17rem;
  height: 10rem;
}